<table>

<thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Salary</th>
        <th>DateOfBirth</th>

    </tr>

</thead>
    <tbody>
        <tr *ngFor ="let employee of employees">
            <td>{{employee.code}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.annulSalary}}</td>
            <td>{{employee.dataOfBirth}}</td>

        </tr>
        <tr *ngIf ="!employees || employees.length == 0">
            <td colspan="5">No employees to display!</td>
        </tr>
    </tbody>
    
</table>
<button (click) ="getEmployees()"> Refresh Emoployees </button>